body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(99, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h3 {
  color: aliceblue;
  text-align: center;
}

.badges {
  margin-left: 200px;
}

.card-body {
  background-color: #000000;
  color: white;
  justify-content: center;
  text-align: center;
  margin: 20px 150px 0px 150px;
  border: solid;
  border-radius: 30px;
  overflow: hidden;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  position: relative;
  box-shadow:
      0 0 2px #fff,
   
      0 0 8px rgb(0, 247, 255),
      0 0 12px rgb(0, 247, 255),
      0 0 14px rgb(0, 247, 255),
      0 0 16px rgb(0, 247, 255),
      0 0 18px rgb(0, 247, 255);
  
}
.list-group-item{
  background-color: #ffffff;
  color: black;
  
}
.list-group{
  background-color: #000000;
  border: solid;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}


.repoClass {
  background-color: #000000;
}

.avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.lead {
  color: aliceblue;
}

.buton {
  margin-top: 10px;
  text-decoration: none;
  border: 2px solid #ff4c55;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 1s;
  position: relative;
  box-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 8px rgb(0, 247, 255),
      0 0 12px rgb(0, 247, 255),
      0 0 14px rgb(0, 247, 255),
      0 0 16px rgb(0, 247, 255),
      0 0 18px rgb(0, 247, 255);
  
}